<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <meta charset="UTF-8">
    <title th:fragment="title">Nouveau mode de jeu</title>
</head>
<body>
<div th:fragment="content">
    <br>

    <h1>Gestion des Modes de Jeu</h1>

    <form action="#" th:action="@{/gamemode/add}" th:object="${gamemode} "  method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="name">Titre</label>
            <input type="text" class="form-control" id="name" placeholder="Titre du mode de jeu" th:field="*{titre}" />
        </div>

        <div class="form-group">
            <label for="id-l">Largeur </label>
            <input type="number" class="form-control" id="id-l" placeholder="Largeur du field" th:field="*{largeur}" />
        </div>

        <div class="form-group">
            <label for="id-h">Hauteur</label>
            <input type="number" class="form-control" id="id-h" placeholder="Hauteur du field" th:field="*{longueur}" />
        </div>

        <div class="form-group">
            <label for="id-m">Mines </label>
            <input type="number" class="form-control" id="id-m" placeholder="Nombres de mines" th:field="*{mines}" />
        </div>

        <div class="alert alert-danger" th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}">Nom Invalide</div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('largeur')}" th:errors="*{largeur}">Négatif</div>
        <div class="alert alert-danger" th:if="${mines != null}" th:text="${mines}"></div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
</body>
</html>